/* CSS Document */
.page {
    background: #5e9795;
}
.page.page-one {
    background: #a24c4c;
}
.page.page-two {
    background: #3a7c88;
}
.page.page-three {
    background: #474869;
}
.page.page-four {
    background: #c7bb50;
}
.page.page-five {
    background: #7a925a;
}
.page.page-six {
    background: #d57b96;
}
.page.page-seven {
    background: #5d9693;
}

6e9e80

866892